.App {
  max-width:800px;
  width:100%;
  margin:30px auto;
  border:5px solid rgb(74, 97, 74);
  background-color: rgba(190, 211, 190, 0.322);
  border-radius:5px;
  font-family: 'Rubik', sans-serif;
}


