.create-project-container{
    width:90%;
    margin:20px auto;
    background-color: rgb(74, 97, 74); 
    border-radius:5px;
    padding-bottom:20px;
    
}
.create-form{
    display:flex;
    flex-direction:column;
    width: 80%;
    margin:0px auto;
    
}

.project-desription-field{
    margin:20px 0px 20px 0px;
    height:120px;
}

.create-button{
    margin:0px auto;
}