.project-container{
     background-color: rgb(74, 97, 74); 
    
     margin:40px auto;
    
    padding:20px;
    border-radius:5px;
}

.project-header{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight:bold;
    text-decoration:underline;
    font-size:24px;
    text-align:center;
}

.project-description-container{
    width:70%;
    margin: 10px auto;
    text-align:center;
    border: 2px solid rgba(220, 228, 201, 0.938);
    border-radius: 5px;
    background-color:rgb(117, 155, 117);
    padding:10px;
}
.project-description{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-decoration:none;

    font-size: 18px;
   
}
.deleter{
    cursor:pointer;
    color:white;
    font-weight:bold;
    font-size:24px;
    text-align:right;
}
